{{>partials/header}}
<form method="POST" action="login-concluido">
Insira seu email?
<input type="email" name="Emaillogin" placeholder="digite seu email">
<input type="password" name="Emaillogin" placeholder="digite sua senha">
<input type="submit"  value="Enviar">
</form>
{{>partials/footer}}